@using Microsoft.AspNetCore.Identity
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Billing Links</h1>
   
    <p> <a href="https://my.servicepower.com" target="_blank">Service power </a></p>
    <p> <a href="https://www.servicebench.com/servicebenchv5/common/login/login.action" target="_blank">ServiceBench</a></p>

</div>
